<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bioinspiredflight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".sensor.SensorListActivity"
            android:label="@string/title_sensor_list"
            android:screenOrientation="userLandscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".sensor.SensorDetailActivity"
            android:label="@string/title_sensor_detail"
            android:screenOrientation="userLandscape"
            android:parentActivityName=".sensor.SensorListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bioinspiredflight.sensor.SensorListActivity" />
        </activity>
        <activity android:name=".AchievementsActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="userLandscape"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bioinspiredflight.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="userLandscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>